<br>
<br>
<div class="container">
  <br>
<H2>Fill Out The Form Below</H2>
<div class="container">
  <fieldset class="form-group">
    <label for="">Enter Customer Id</label>
    <input type="number" [(ngModel)]="loan.customerId" class="form-control" name="customerId" required="required">
</fieldset>

    <fieldset class="form-group">
        <label for="">loan Amount  (must be greater than zero)</label>
        <input type="number" min=1 [(ngModel)]="loan.loanAmount" class="form-control" name="loanAmount" required="required">
    </fieldset>

    <fieldset class="form-group">
      <label for="">Interest Rate</label>
      <input type="number" min=1 [(ngModel)]="loan.interestRate" class="form-control" name="interestRate" required="required">
  </fieldset>
  
    <fieldset class="form-group">
      <label for="">Period In Years</label>
      <input type="number" min=1 [(ngModel)]="loan.tenure" class="form-control"  pattern="[0-9]+" name="tenure" required="required">
  </fieldset>

<br>
    <fieldset>
    <label for="">payment Frequency :</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="loan.paymentFrequency" id="exampleRadios1" value=12 checked>
        <label class="form-check-label" for="exampleRadios1">
          Monthly
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="loan.paymentFrequency" id="exampleRadios2" value=4 required>
        <label class="form-check-label" for="exampleRadios2">
            Quarterly
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="loan.paymentFrequency" id="exampleRadios3" value=2 checked>
        <label class="form-check-label" for="exampleRadios3">
            Half Yearly
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="loan.paymentFrequency" id="exampleRadios4" value=1 checked>
        <label class="form-check-label" for="exampleRadios4">
            Yearly
        </label>
      </div>
    </fieldset>
    <br>
    
    <fieldset>
      <label for="">Principle Type :</label>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios31" [(ngModel)]="loan.principle" id="exampleRadios31" value="EVEN" checked>
          <label class="form-check-label" for="exampleRadios31">
            Even
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios32" [(ngModel)]="loan.principle" id="exampleRadios32" value="INTEREST_ONLY" required>
          <label class="form-check-label" for="exampleRadios2">
              Interest Only
          </label>
        </div>
      </fieldset>
     
<br>

<fieldset>
      <div>
        <label for="">Select A Date To Start Loan</label>
        <input class="form-control" type="date"  min="2020-11-03" value="2020-11-02" [(ngModel)]="loan.loanStartDate" id="example-date-input" required>
      </div>
    </fieldset>

<br>
    <button type="submit" class="btn btn-primary" (click)="saveLoan()" *ngIf="(loan.loanAmount>0 && loan.loanAmount && loan.paymentFrequency>0 &&loan.interestRate>0 && loan.tenure>0 )">Click Here To Apply</button>
</div>
</div><br><br><br>