<!-- <header>
<nav class="navbar navbar-dark bg-primary fixed-top">
    <div><a class="navbar-brand" href="https://finzly.com/">
        <img src="../../assets/logo.jpg" width="30" height="30" class="rounded-circle align-top" alt=""> 
        <b> Finzly</b>
        </a>
        <a routerLink="/login" class="nav-link">Logout</a>
     </div>
     
  </nav>
</header> -->
  <!-- *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()"
  *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"  -->


    <nav class="navbar navbar-dark bg-primary fixed-top ">
        <div><a href="https://finzly.com/" class="navbar-brand"><img src="../../assets/logo.jpg" width="30" height="30" class="rounded-circle align-top" alt="">
            <b>  Finzly</b></a><a routerLink="/login" *ngIf="authenticationServiceService.isUserLoggedIn()"class="navbar-brand ">Logout</a></div>
    </nav>

